@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
    --dark-cyan: hsl(185, 75%, 39%);
    --dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --white: hsl(0, 0%, 100%);
    --black: #000;
    --dark-gray: hsl(0, 0%, 59%);

    --regular-text-size: 18px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: var(--regular-text-size);
    color: var(--dark-grayish-blue);
}

body {
    background-image: url('./images/bg-pattern-top.svg'), url('./images/bg-pattern-bottom.svg');
    background-repeat: no-repeat, no-repeat;
    background-position: 
        top -70vh left -200vw,
        bottom -30vh right -200vw;
    background-color: var(--dark-cyan);
    height: 100vh;
}

img {
    border-radius: 50%;
    border: 4px solid var(--white);
}

h1 {
    font-size: 1em;
    color: var(--black);
}

p {
    font-size: 0.8em;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2rem;
}
  

.container {
    margin: 45% auto;
    width: 100%;
    max-width: 320px;
    padding: 4.5rem 0 0;
    background-color: var(--white);
    border-radius: 0.875rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: stretch;
    background-image: url('./images/bg-pattern-card.svg');
    background-size: 100% 35%;
    background-repeat: no-repeat;

}

.social-stats,
.profile-title {
    display: flex;
    align-items: center;
}

.profile-title,
.social-stats {
    margin: 0.875rem 0 0;
}

.profile-city {
    margin: 0.5em 0;
}

.profile-title h1 {
    margin: 0 0.3em 0 0;
}
.social-stats {
    width: 100%;
    justify-content: space-evenly;
    border-top: 1px solid var(--dark-gray);
    padding: 1.5em 0;
}
.stats-item {
    text-align: center;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

 
@media only screen and (min-width: 1025px) {
    body {
        background-position: 
            top -250% left -20%,
            bottom -100% right -25%;
    }
    .container {
        margin: 15% auto;
    }
}